* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #fffbf3;
}
.hide-mobile {
  display: none;
}
.wrap {
  margin: 2em;
}
body {
  background-color: var(--primary);
  font-family: "Inter", sans-serif;
}
